<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddOrUpdateItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            id="name" 
            name="name"
            ngModel
            required
            class="form-control"
            #name="ngModel">
          <span class="help-block" *ngIf="name.invalid && name.touched">Enter item name!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number"
            required
            id="amount" 
            name="amount"
            ngModel
            pattern="^[.]?[0-9]+[.]?[0-9]*$"
            class="form-control"
            #amount="ngModel">
          <span class="help-block" *ngIf="amount.invalid && amount.touched">Enter valid amount!</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit" 
            [disabled]="f.invalid"
            >{{ !editMode ? 'Add' : 'Update' }}</button>&nbsp;
          <button 
            class="btn btn-danger" 
            type="button" 
            (click)="onDelete()"
            [disabled]="!editMode">Delete</button>&nbsp;
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>&nbsp;
        </div>
      </div>
    </form>
  </div>
</div>
